body {
    background-color: rgba(230, 121, 93, 0.25);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item {
    background-color: rgba(243, 131, 96, 0.73);
    border-radius: 3px;
}
h3 {
    color: rgba(27, 6, 0, 0.85);
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
}
#quote-content {
    color: #1b0600;
}

#get-another-quote-button {
}
